* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Permanent Marker', cursive;
  background: rgb(22, 21, 21);
  color: white;
  min-height: 100vh;
}

.game-wrapper {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  height: 50%;
  width: 50%;
  /* Make sure only the card can be clicked and
  have it's visibility toggled.*/
  pointer-events: none;

}

.card.visible {
  transform: rotateY(180deg);
  transition: all 1.3s ease;
}

.card.visible img {
  display: none;
}

.hidden {
  background: grey !important;
}

.game-container,
h1,
p {
  text-align: center;
}

.game-container ul {
  list-style: none;
  margin-top: 2rem;
}

.game-container ul li {
  display: inline-block;
  margin-right: 1rem;
}

.btn {
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.btn-outline-light {
  border: 2px solid white;
  background: transparent;
}

.text-light {
  color: white;
}

#playBtn {
  margin-top: 2rem;
}

.d-none {
  display: none;
}