* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Permanent Marker', cursive;
  background: rgb(22, 21, 21);
  color: white;
  min-height: 100vh;
}

.game-wrapper {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card img {
  height: 50%;
  width: 50%;
  /* Make sure only the card can be clicked and
  have it's visibility toggled.*/
  pointer-events: none;

}

.card.visible {
  transform: rotateY(180deg);
  transition: all 1.3s ease;
}

.card.visible img {
  display: none;
}

.hidden {
  background: grey !important;
}

.game-container,
h1,
p {
  text-align: center;
  margin: 0.5rem;
}

h1 {
  font-size: 2.5rem;
}
p{
  font-size: 1.5rem;
}

.game-container ul {
  list-style: none;
  margin-top: 2rem;
}

.game-container ul li {
  display: inline-block;
  margin-right: 1rem;
}

.btn {
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-sm {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.btn-outline-light {
  border: 2px solid white;
  background: transparent;
}

.text-light {
  color: white;
}

.d-none {
  display: none;
}

.incorrect {
  animation: shake 0.5s;
}

/* https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* looks weird */
/* .pulsate {
  transform: scale(1);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { transform: scale(0.9); box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.65); }
  50% { transform: scale(1); box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); }
  100% { transform: scale(0.9); box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0);}
} */